{% extends 'base.html.twig' %}

{% block title %}Hello ClassesController!{% endblock %}


{% block body %}
<br>
<div class="container">
<br>
<h2>Edit student</h2>
<br>
{{form(form)}}
</div>
{% endblock %}